<!-- <li>{{review.rating}} - {{review.content}} - by {{review.author}}</li>

<button {{action 'delete' review}}>Delete Review</button> -->
<li>
  <h3>{{heading}}</h3>
  <p>{{review.content}}</p>
</li>

<button {{action 'delete' review}}>Delete Review</button>
